* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 30px 0 0 30px;
}

/* header styles */
header {
  margin-bottom: 20px;
}

.navigation {
  margin: 20px 0 0 50px;
  display: inline-block;
}

.navigation a {
  color: #3D58A6;
  font-size: 22px;
  font-family: 'BPG Nino Mtavruli Bold';
  font-weight: 100;
}

.navigation a:hover {
  color: #EE4036;
}

.navigation ul li {
  padding: 0 0 5px 30px;
  display: inline-block;
  vertical-align: bottom;
}
/* header end */
/* hero  */
.hero p {
  width: 400px;
  font-size: 30px;
  color: #E6E6E6;
  position: absolute;
  top: 220px;
  margin-left: 30px;
}
/* hero end */

.news span {
  display: block;
  width: 52px;
  font-family: 'BPG Nino Mtavruli';
}

.news span:nth-child(1) {
  background-color: #3D58A6;
  font-size: 48px;
  color: #fff;
  padding: 5px 0 0 5px;
  margin-bottom: 5px;
}

.news span:nth-child(2) {
  color: #3D58A6;
  font-size: 22px;
}

.news h1 {
  font-weight: lighter;
  margin: 17.5px 0 17.5px 0;
  font-family: 'BPG Nino Mtavruli';
  font-size: 20px;
}

.news img {
  margin-bottom: 24.1px;
}

.news-p-box {
  display: inline-block;
  width: calc(100% - 400px);
}

.article-img {
  display: inline-block;
  vertical-align: top;
  margin-right: 39px;
}
.news p {
  font-family: 'BPG Ingiri Arial';
  padding: 0 0 15px 0;
}

.article {
  margin-bottom: 51px;
  display: inline-block;
}

/* Contact start */
.contact {
   margin: 140px 0 272px 0;
  text-align: center;
}
.contact ul>li:nth-child(2) {
  padding-left: 20px;
}

.text-center {
  color: #3D58A6;
  font-weight: lighter;
  font-size: 20px;
}

.contact a {
  color: #181818;
}

.contact-first, .contact-second, .contact-third {
  color: #808080;
}
/* Contact end */

/* Footer Start */
footer {
 margin-top: 30px;
}

footer a:nth-child(2){
  position: relative;
  left: 65px;
}
/* Footer End */
