* {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  margin: 30px 0 0 30px;
}

header {
  margin-bottom: 20px;
}

.navigation {
  margin-top: 20px;
}

.navigation a {
  color: #3D58A6;
  font-size: 22px;
}

.navigation a:hover {
  color: #EE4036;
}

.hero p {
  width: 400px;
  font-size: 30px;
  color: #E6E6E6;
  position: absolute;
  top: 220px;
  margin-left: 30px;
}

footer {
 margin-top: 30px;
}

footer a:nth-child(2){
  position: relative;
  left: 65px;
}

main span {
  display: block;
  width: 52px;
}

main span:nth-child(1) {
  background-color: #3D58A6;
  font-size: 48px;
  color: #fff;
}

main span:nth-child(2) {
  color: #3D58A6;
  font-size: 22px;
}

main h1 {
  font-weight: lighter;
  margin-bottom: 17.5px;
}

main img {
  margin-bottom: 24.1px;
}

main p {
  /* max-width: 1146px; */
  width: 54%
}

.main-p1 {
  margin-bottom: 20px;
}

.main-p2 {
  margin-bottom: 20px;
}

.second-article {
  margin-top: 70px;
  margin-bottom: 70px;
}

.contact {
  margin-left: 513px;
  margin-bottom: 272px;
}

.contact a {
  display: block;
  margin-left: 85px;
  position: relative;
  bottom: 15px;
  color: #181818;
}

.contact h1 {
  color: #3D58A6;
  font-weight: lighter;
  font-size: 20px;
}

.contact address {
  margin-left: 85px;
}

.contact-first {
  position: relative;
  bottom: 20px;
  color: #808080;
}

.contact-second {
  position: relative;
  bottom: 38px;
  left: 45px;
  color: #808080;
}

.contact a:nth-of-type(2){
  position: relative;
  bottom: 32px;
}

.contact-third {
  position: relative;
  bottom: 52px;
  color: #808080;
}
